video::-webkit-media-controls-overlay-play-button {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

video:-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.video-banner-text {
  animation: fade-in 500ms ease-in;
}
